body {
  padding: 0;
  margin: 0;
}
.navi {
  background: #383e4c;
  padding: 30px;
  overflow: hidden;
}
.navi__list {
    list-style: none;
    margin: 0 auto;
    padding:0;
    max-width: 60%;
}
.navi__item {
  font-size: 20px;
  float: left;
  padding: 10px 15px;
  margin: 0 10px;
  border: 1px solid grey;
}
.navi__a {
  color: #FFFFFF;
  text-decoration: none;
}
.navi__item:hover {
  background-color: #555c6d;
}
.main-header {
  background-image: url("img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 550px;
}
.section1 {
  border: 1px blue solid;
  padding: 70px 0;
}
.section1__container {
  padding: 0 50px;
  border: 1px green solid;
  display: flex;
  justify-content: center;
}
.section1__box--top-wrapper {
}
.section1__box--top {
  padding: 20px;
}
.section1__box--top h2 {
  margin-top: 0;
}
.section1__box--top img {
  width: 100%;
}
.section1__box--top-msg {
  background: #f2f2f2;
  padding: 20px;
}
.section1__box--top-msg a {
  margin: 0 auto;
}
.section1__box--lower {
  border: 1px orange solid;
}
.btn {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.btn--red {
  background: #852406;
}
.btn--blue {
  background: #1686c1;
}
.btn--green {
  background: #178a27;
}
